.mobile-nav {
  display: none;
}
.website-nav {
  z-index: 10;
  svg {
    padding: 0;
    margin: 1rem;
    path {
      fill: $svg-color;
    }
    &:hover {
      path {
        fill: $focus-color;
      }
    }
  }

  .navSide {
    z-index: 10;
    position: fixed;
    background: rgba(0, 0, 0, 0.234);
    width: 100vw;

    ul {
      display: flex;
      flex-direction: column;
      background-color: $page-color;
      align-items: center;
      width: 12rem;
      height: 100vh;
      .firstLi {
        border: none;
      }
      li {
        cursor: pointer;
        list-style: none;
        color: $text-color;
        margin: 3rem 0;
        font-size: 1.4rem;
        border-bottom: 1px solid $focus-color;
        &:hover {
          color: $svg-color;
        }
      }
    }
  }
  .navBox {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    height: 100vh;
    border-right: 5px solid $focus-color-dark;
    box-shadow: 0 0 0 1px $focus-color;
    svg {
      cursor: pointer;
      margin: 3rem 0;
    }
  }
}
.mobile-nav {
  z-index: 9;
  svg {
    padding: 0;
    margin: 0.5rem;
    path {
      fill: $svg-color;
    }
  }
  .navBox {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    right: 0;
    margin-right: 1rem;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    svg {
      z-index: 10;
      height: 3.5rem;
      margin-top: 1.5rem;
      stroke: $focus-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .navSide {
    z-index: 10;
    position: fixed;
    background: $page-color;
    width: 100vw;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
      background-color: $page-color;
      align-items: center;
      width: 12rem;
      height: 100vh;
      .firstLi {
        border: none;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        list-style: none;
        color: $text-color;
        margin: 3rem 0;
        font-size: 1.4rem;
        border-bottom: 1px solid $focus-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 20rem;
        &:hover {
          color: $focus-color;
          path {
            fill: $focus-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .website-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
